
html {
    margin: 0 auto;
    
    height: 100vh;
    width: 100%;
    top: 0;
  }
  
*{
    text-decoration: none;
    color:white;
    list-style-type: none;
}

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--black__One);
    overflow: hidden;
}
.filter{
    display: block;
	min-height: 100vh;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    
}
header{
    display: flex;
    justify-content: space-around;
    max-height: 100vh;
    min-height: 100vh;
}
.navigate{
    position: sticky;
    width: 350px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.list_ul{
    color: aliceblue;
    width: 250px;
    margin-top: 2.5em;
    padding:29px;
    text-align: center;
    font-size: 20px;
    width: 300px;
}
.list_ul:hover{
    background-color: #212121;
    transition: 0.4s;
}
.list_ul:last-child{
    margin-bottom: 0;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 100%;
    margin-top: 5%;
    right: 5%;
    top:0%; 
    justify-content:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header_main h1{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(15deg, #7d6c8f 33%, #7467c0 66%, #8063ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.link_navigate{
    color: aliceblue;
    padding: 1em;
}
.info{
    position: absolute;
    height: 120px;
    width: 600px;
    margin-top: 40%;
    text-align: center;
    border: 5px dotted white;
    border-radius: 15px;
    right:13%;
}
.info > span{
    font-size: 29px;
    letter-spacing: 4px;
}

.text{
    border: 5px solid;
    padding: 3%;
    width: 100%;
    font-family: "Roboto",sans-serif,monospace;
    letter-spacing: 4px;
    font-size: 30px;
    background: linear-gradient(45deg, #ec2752, #f1344d, #f02626);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 10px;
    filter:opacity(0);
    transition: 0.6s; 
}
.entry{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
    margin-top: 20px;
}
.block__text{
    min-height: 100vh;
    font-size: 16px;
    text-transform: uppercase;
    margin: 100px 180px;
}
.block__text > p{
    padding: 1%;
}
.link__behind{
    margin: 10px;
    display: block;
    text-align: center;
    color: #ec2752;
}
.main::after{
    content: 'Запись №000А1 "В этот день мы ппроснултсь в новом мире"';
    
    position: absolute;
    top: 45%;
    text-align: center;

    left: 05%;
    color: #ffffff;
    z-index: 100;
    font-family: "Roboto",sans-serif,monospace;
    letter-spacing: 9px;
    font-size: 30px;
}

.main:hover:after{
    display: none;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.text:hover{
    filter: none;
    transition: 0.6s;
}